@model BirdSighting
@{
    Layout = null;
}
<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Bird Sighting</title>
    <style> /* CSS Styles from figure 2-14 (as said by p 59) can go here */ </style>
</head>
<body>
    <h1>Bird Sighting Form</h1>
    <form asp-action="Index" method="post">
        <div>
            <label asp-for="SightingBird">Bird in sighting:</label>
            <input asp-for="SightingBird" />
        </div>
        <div>
            <label asp-for="SightingWatcher">Bird watcher name:</label>
            <input asp-for="SightingWatcher" />
        </div>
        <button type="submit">Submit</button>
        <a asp-action="Index">Clear</a>
    </form>
</body>
</html>
