@model BirdSpecies
@{ 
    Layout = null;
}
<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
</head>
<body>
    <h1>Bird App</h1>
    <p>Bird Name: @ViewBag.Name</p>
    <p>Bird Location: @ViewBag.Location</p>
    <p>Bird Length: @ViewBag.Length.ToString() inches</p>
</body>
</html>